* {
	box-sizing: border-box;
}

body {
	background-color: #fbfbfb;
	font-family: 'Roboto';
	font-size: 14px;
	color: #333;
}

.wrapper {
	padding: 0 15px;
}

.logo {
	margin-top: 100px;
	font-size: 8em;
	color: #d8d8d8;
	text-align: center;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.sublogo {
	max-width: 425px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	color: #A0A0A0;
}

input {
	border: none;
	outline: none;
	background: #fff;
	width: 600px;
	max-width: 100%;
	padding: 12px 8px;
	font-family: 'Roboto';
	font-size: 1em;
	height: 42px;
	font-size: 14px;
}

.btn {
	display: inline-block;
	padding: 12px 8px;
	text-decoration: none!important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	font-size: 14px;
}

.btn.btn-primary {
	color: #fff;
	background-color: #d8d8d8;
}

.search-input-wrapper {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	font-size: 0;
	position: relative;
}

input[name="search"] {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
}

#search-button-wrapper {
	position: absolute;
    right: 15px;
    height: 42px;
    top: 0;
    width: 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#search-button {
	box-shadow: none;
	max-width: 100%;
	color: #bfbfbf;
	padding: 6px;
    width: 28px;
    height: 28px;
    position: relative;
}

#header, #subheader {
	background-color: #d8d8d8;
    height: 75px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	border-bottom: 1px solid #bfbfbf;
}

#subheader {
	padding-left: 115px;
	background-color: transparent;
	font-size: 1.2rem;
}

#subheader .fa {
	margin-right: 10px;
}

#header, .result {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#header input[name="search"] {
	box-shadow: none;
	width: 100%;
}

#header .logo {
	display: inline-block;
    color: #fff;
    font-size: 2em;
    margin: 0;
    width: auto;
}

#header .search-input-wrapper {
	display: inline-block;
    margin: 0;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid white;
}

#header .wrapper {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
}

.search-wrapper {
	padding: 0 115px;
	padding-top: 25px;
}

.result {
	font-size: 1.2em;
	max-width: 600px;
	margin-bottom: 20px;
	padding: 15px;
	background-color: #fff;
	border-radius: 2px;
}

.result .title {
	text-decoration: none!important;
	white-space: nowrap;
	width: 75%;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.result .title:active {
	color: rgb(0, 0, 238);
}

.result .url {
	font-size: 0.9em;
	margin-bottom: 5px;
}

.count, .url {
	color: #A0A0A0;
}

.count {
	margin-left: 20px;
}

@media screen and (max-width: 800px) {
	.search-wrapper, #subheader {
		padding-left: 15px;
		padding-right: 15px;
	}
}